.DS_Store
Thumbs.db
Desktop.ini
.idea/
.vscode/
*.iml
.project
.classpath
node_modules/
venv/
env/
dist/
build/
target/
Debug/
Release/
*.exe
*.dll
*.obj
*.class
__pycache__/
*.pyc
*.log
tmp/
temp/
.env
*.pem
config.secret.json
*.db
*.sqlite
*.zip
*.rar
*.7z
*.tar.gz
before/
after/
models/
detection_result/